# HGDP Transformation
This script will take the original HGDP database and transform it to plink file

In [1]:
import os 
import csv
import pandas as pd
import numpy as np
#from sqlalchemy import create_engine
os.chdir('..')
path = os.getcwd()
hgdppath = os.path.join(path, 'Results\\temp\hgdp')
os.chdir(hgdppath)

In [2]:
with open('HGDP_FinalReport_Forward.txt') as f:
    line = f.readline()
ncols = len(line.split())

with open('HGDP_Map.txt') as f:
    nrows = sum(1 for _ in f)
    
print('There are', ncols, 'subjects and', nrows, 'genotypes')

There are 1043 subjects and 660918 genotypes

First we will load each column from the original file.
Each column correspond to a single row in the final plink file.
After reading each column, we'll create a list of characters wich will be written in a csv file.
For each row, we will add 6 initial columns, the first two with the ID, and the four remaining with zeros (Paternal ID, Maternal ID, Sex, Phenotype).

In [3]:
ids   = pd.read_csv('HGDP_FinalReport_Forward.txt', sep = '\t' , header=None, nrows=1,
                    squeeze=True)
zeros = ['0','0','0','0']
ids

,0,1,2,3,4,5,6,7,8,9,...,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043
0,NaN,HGDP00448,HGDP00479,HGDP00985,HGDP01094,HGDP00982,HGDP00911,HGDP01202,HGDP00927,HGDP00461,...,HGDP01342,HGDP00824,HGDP01319,HGDP01357,HGDP00549,HGDP00953,HGDP01070,HGDP01376,HGDP00671,HGDP01024

In [4]:
for sub in range(1,ncols):#change to ncols
    datcol  = pd.read_csv('HGDP_FinalReport_Forward.txt', sep = '\t' , header=None, skiprows=1,
                          usecols=[sub], squeeze=True)
    fincol  = list(''.join(datcol))
    towrite = list(ids[sub]) + list(ids[sub]) + zeros + fincol
    with open('HGDP.ped', 'a', newline='') as f:
        writer = csv.writer(f, delimiter=' ')
        writer.writerow(towrite)